{% extends "../base.html" %}
{% block title %}{{profile.username}}{% endblock %}
{% block content %}
<section class="bg-white dark:bg-gray-900">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
        <div class=" lg:mt-0 lg:col-span-3">
            {% include "./nav.html" %}
        </div>
        <div class=" lg:col-span-9 pl-5">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-purple-900 md:text-2xl dark:text-white text-center">
                    UIH | Vaccinations Scheduled
                </h1>
                
                <div class="relative overflow-x-auto">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 border ">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-4 py-3">Patient</th>
                                <th scope="col" class="px-4 py-3">vaccine</th>
                                <th scope="col" class="px-4 py-3">Date</th>
                                <th scope="col" class="px-4 py-3">Time</th>
                                <th scope="col" class="px-4 py-3">State</th>
                                <th scope="col" class="px-4 py-3"></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for vaccine in vaccines %}
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{vaccine.patient.user.username}}
                                </th>
                                
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{vaccine.vaccine}}
                                </th>
                                
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{vaccine.schedule_date}}
                                </th>
                                
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {{vaccine.schedule_time}}
                                </th>
                                
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    {% if vaccine.on_holding %}
                                    <span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">On Hold</span>
                                    {% else %}
                                    <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Completed</span>
                                    {% endif %}
                                </th>
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 text-red-600 dark:text-white underline">
                                    {% if vaccine.on_holding %}
                                    <a href="{% url "patients:schedule_vaccine_delete" id=vaccine.id %}" class="font-medium font-bold">
                                    Delete Schedule 
                                    </a>
                                    {% endif %}
                                </th>
                                
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% if not vaccines_holding %}
                {% if form.errors %} 
                    {% for key, value in form.errors.items %}
                    <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                        {{value}}
                    </div>
                    {% endfor %}
                {% endif %}
                <hr>
                <form class="space-y-4 md:space-y-6" action="{% url "patients:schedule_vaccine" %}" method="POST" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{form.as_p}}
                   
                    
                    <button type="submit" class="w-full text-white bg-purple-600 hover:bg-purple-700 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Set Schedule </button>
                    
                    
                </form>
                {% endif %}
            </div>
        </div>                
    </div>
</section>
{% endblock %}